@charset "utf-8";
/* contents.css 서브메뉴 스타일 */
/*  */
#container{
    border-bottom: 1px solid #999;
}
.main1{
    height: 945px;
    margin-top: 15px;
    margin-bottom: 41px;
    background-image: url(/img/sub_bestItem/banner.png);
    background-repeat: no-repeat;
    background-position: 50%;
}