@charset "utf-8";
/* main.css 인덱스 본문 스타일*/
#container{
    border-bottom: 1px solid #999;
}
/* 메인 1 슬라이드*/
.main1{
    position: relative;
    overflow: hidden;
    margin-bottom: 80px;
    background-color: #000;
}
.m1_inner{
    position: relative;
    width: 1993px;
    height: 740px;
    margin: 0 auto;
}
.slideList .slick-list{
    overflow: visible;
}

.slide_img a{
    display: block;
    width: 632px;
    height: 740px;
    margin: 0 auto;
    overflow: hidden;
}
.slide_img a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}
.slide_img.first a{
    width: 1896px;
}
/* 메인 1 슬라이드 텍스트 */
.slideText .on{
    width: 500px;
    position: absolute;
    top: 280px;
    left: 50%;
    margin-left: -250px;
    color: #fff;
    text-align: center;
}
.slideText > div{
    display: none;
}
.slideText .cate{
    font-size: 16px;
    font-weight: 300;
}
.slideText .text{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}
.slideText .item{
    font-size: 15px;
}
/* 메인 1 버튼 */
.m1_prev, .m1_next{
    position: absolute;
    top: 350px;
    width: 40px;
    height: 40px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
}
.m1_prev{
    left: 50%;
    margin-left: -900px;
    transform: rotate(-135deg);
}
.m1_next{
    right: 50%;
    margin-right: -900px;
    transform: rotate(45deg);
}
.m1_play{
    display: none;
    position: absolute;
    right: 100px;
    bottom: 100px;
    width: 0;
    height: 0;
    border-left: 20px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.m1_pause{
    position: absolute;
    right: 100px;
    bottom: 100px;
    width: 19px;
    height: 30px;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
}
.ms_pager{
    position: absolute;
    right: 160px;
    bottom: 100px;
    color: #fff;
}
.ms_pager li{
    display: none;
}
.ms_pager .slick-active{
    display: block;
}
/* 메인 2 */
.main2{
    margin-bottom: 120px;
}
.main2 ul{
    display: flex;
    justify-content: space-between;
}
.imgText{
    width: 650px;
    height: 440px;
    position: absolute;
    top: 300px;
    left: 0;
    vertical-align: top;
    text-align: center;
    color: #fff;   
}
.imgText .cate{
    font-size: 20px;
}
.imgText .imgInfo{
    font-size: 28px;
    font-weight: 700;
}
.imgText .imgName{
    font-size: 18px;
}
/* 메인 3 */
.main3{
    margin-bottom: 130px;
}
.title{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}
.m3_left{
    display: inline-block;
    width: 640px;
    height: 720px;
}
.m3_left h2{
    padding-top: 55px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.m3_left h3{
    font-size: 20px;
    margin-bottom: 18px;
    text-align: center;
}
.m3_left img{
   margin-left: 80px;
}
.m3_right{
    float: right;
}
/* 메인 4 */
.main4{
    margin-bottom: 100px;
}
.main4 ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main4 li{
    position: relative;
    height: 608px;
}
.main4 li:first-child{
    width: 240px;
}
.rank{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #666;
    color: #fff;
}
.main4 .number{
    font-size: 12px;
    color: #999;
}
.main4 .itemName{
    font-size: 14px;
    color: #111;
}
.originPrice{
    font-size: 12px;
    color: #979797;
    text-decoration: line-through;
}
.main4 .price{
    margin-bottom: 7px;
}
.DCPrice{
    font-size: 15px;
    color: #111;
    margin-right: 6px;
}
.main4 .DCTag{
    float: left;
}
.main4 a .hashTag.active{
    margin-top: 12px;
    padding-top: 5px;
    font-size: 13px;
    color: #999;
    border-top: 1px solid #E5E5E5;
}
/* 메인 5 */
.main5{
    margin-bottom: 140px;
}
/* 메인 6 */
.main6{
    margin-bottom: 100px;
}
.main6 .active{
    display: block;
}
.showList{
    display: none;
}
.showWomen{
    display: flex;
    background-color: #F8F8F8;
}
.showRight{
    position: relative;
    width: 835px;
    padding-top: 37px;
    padding-bottom: 57px;
}
.showTitle{
    font-size: 36px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.showContent{
    font-size: 20px;
    margin-bottom: 62px;
    display: flex;
    justify-content: center;
}
.itemImg{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.leftBtn{
    position: absolute;
    left: 136px;
    top: 360px;
}
.rightBtn{
    position: absolute;
    right: 136px;
    top: 360px;
}
.goPage a{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    color: #000;
}
.showMen{
    display: flex;
    background-color: #F8F8F8;
}
.showKids{
    display: flex;
    background-color: #F8F8F8;
}
/* 메인 7*/
.main7{
    margin-bottom: 216px;
}
.main7 .inner{
    position: relative;
}
.cosmeticAll{
    position: absolute;
    right: 0;
    top: 60px;
}
.main7 .cosmeticAll a{
    font-size: 18px;
    font-weight: 300;
    color: #000;
    text-decoration: underline;
}
.main7 .cosmetic{
    background-color: #F8F8F8;
    display: flex;
    height: 750px;
}
.m7Left{
    width: 639px;
    padding-top: 76px;
    padding-left: 50px;
    border-right: 1px solid #e9e9e9;
}
.cosmeticMark{
    font-size: 14px;
    font-weight: 600;
    color: #949494;
    margin-bottom: 68px;
}
.cosmeticBook{
    margin-bottom: 60px;
}
.m7_title{
    font-size: 30px;
    font-weight: 500;
}
.m7_content{
    font-size: 20px;
    font-weight: 300;
}
.m7Right{
    width: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 메인 8 */
.main8{
    margin-bottom: 210px;
}
.m8_board{
    display: flex;
    width: 1280px;
    justify-content: space-between;
}
.m8_left{
    position: relative;
    width: 520px;
    height: 600px;
    background-image: url(/img/main/MDPick_main.png);
}
.m8_left .board{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 520px;
    height: 110px;
    background-color: #fff;
    opacity: 0.5;
}
.m8_text{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    margin-left: 80px;
    margin-bottom: 22px;
}
.m8_title{
    font-size: 24px;
    font-weight: 500;
    color: #111;
}
.m8_content{
    font-size: 20px;
    font-weight: 300;
    color: #404040;
}
.m8_right{
    width: 740px;
    display: flex;
    flex-wrap: wrap;
}
.m8_right div{
    width: 370px;
    height: 300px;
    background-color: #F8F8F8;
}
.m8_R1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 38px;
    color: #252525;
}
.m8_R4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    color: #252525;
}
/* 메인 9 */
.main9{
    padding: 210px 0;
    margin-bottom: 128px;
    background-color: #F8F8F8;
}
.main9 .inner{
    position: relative;
}
.m9_top{
    display: flex;
}
.main9 .title{
    margin-right: 49px;
}
.tag1{
    width: 108px;
    height: 37px;
    font-size: 18px;
    font-weight: 100;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    margin-right: 20px;
}
.tag2{
    width: 180px;
    height: 33px;
    font-size: 18px;
    font-weight: 100;
    border-radius: 20px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}
.reviewMore{
    position: absolute;
    top: 30px;
    right: 0;
    font-size: 18px;
    font-weight: 300;
    text-decoration: underline;
}
/* 메인 10 */
.main10{
    margin-bottom: 126px;
}
.main10 ul{
    display: flex;
    justify-content: space-evenly;
}
.main10 .center{
    margin-left: 156px;
    margin-right: 156px;
}
.main10 h3{
    margin-top: 39px;
    font-size: 30px;
    font-weight: 900;
    color: #000;
    text-align: center;
}
.main10 h6{
    font-size: 16px;
    font-weight: 300;
    color: #000;
    text-align: center;
}