@charset "utf-8";
/* main.css 인덱스 본문 스타일*/
.main1{
    margin-top: 15px;
    height: 740px;
    background-image: url(/img/main/banner.png);
    background-repeat: no-repeat;
    background-position: 50%;
}