@charset "utf-8";
/* main.css 인덱스 본문 스타일*/
.main1{
    height: 740px;
    margin-top: 15px;
    margin-bottom: 41px;
    background-image: url(/img/main/banner.png);
    background-repeat: no-repeat;
    background-position: 50%;
}
.main2 ul{
    display: flex;
    justify-content: space-between;
}